{% extends "base.html" %} {% block title %}Stats{% endblock %} -->
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1 align='center'>Stats</h1>
</head>

<!-- Rounded switch -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<div class="container1">
  <div class="stat-control-container">
  <div class="left">
    <form>
    <label class="switch">
      <input type="checkbox" id="myswitch">
      <div class="slider round">
        <span class="off">Totals</span>
        <span class="on">Per Game</span>
      </div>
    </label>
    </form>
  </div>
  <div class="search-container" class="right">
    <form role="search" id="search">
      <input type="text" onkeyup="searchPlayers()" placeholder="Search.." name="query" id="query" title="Type in a name">
    </form>
  </div>
  <div class="center">
      <button name="add-players-btn" id="add-players-btn" type='submit' class='btn btn-primary' onclick="submit()">Add Players</button>
  </div>
</div>
</div>
<br>
<form method="POST" id="playersform" name="playersform">
<div id="pg">
    <table class="sortable" border='1px solid', border-style='double' id="playerTable" name="playerTable">
        <thead>
            <tr>

            {% for column in columns %}
                <th class="header">{{ column }}</th>
            {% endfor %}
            {% if user.is_authenticated %}
            <th class="header">Add</th>
            {% endif %}
            </tr>
          </thead>
        <tbody>
        {% for row in feed %}
        <tr>
          {% for item in row %} 
          <td> {{ item }}</td>
          {% endfor %}
          {% if user.is_authenticated %}
          <td><input class="select-checkbox" name='select-checkbox' type="checkbox" id="add-player-avg-{{ loop.index0 }}"/>&nbsp;</td>
          {% endif %}
        </tr> 
        {% endfor %}
    </tbody>
    </table>
  </div>
<div id="totals">
  <table class="sortable" border='1px solid', border-style='double' id="playertable2">
    <thead>
        <tr>
        {% for column in columns2 %}
            <th class="header">{{ column }}</th>
        {% endfor %}
        {% if user.is_authenticated %}
        <th class="header">Add</th>
        {% endif %}
        </tr>
      </thead>
    <tbody>
    {% for row in feed2 %}
    <tr>
      {% for item in row %} 
      <td> {{ item }}</td>
      {% endfor %}
      {% if user.is_authenticated %}
      <td><input class="select-checkbox" name='select-checkbox' type="checkbox" id="add-player-total-{{ loop.index0 }}"/>&nbsp;</td>
      {% endif %}
    </tr> 
    {% endfor %}
</tbody>
</table>
  </div>
</form>
<div id="user-staging-table">


</div>



{% endblock %}