{% extends "base.html" %} {% block title %}Stats{% endblock %} -->
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1 align='center'>Stats</h1>
    
</head>

<!-- Rounded switch -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<form>
<label class="switch">
  <input type="checkbox" id="myswitch" checked="true">
  <div class="slider round">
    <span class="off">Totals</span>
    <span class="on">Per Game</span>
  </div>
</label>
</form>
<button type='submit' class='btn btn-primary'>Add Players</button>
<br>
<input type="text" placeholder="Search">
<br>
<div id="pg">
    <table class="sortable" border='1px solid', border-style='double'>
        <thead>
            <tr>

            {% for column in columns %}
                <th class="header">{{ column }}</th>
            {% endfor %}
            <th class="header">Add</th>
            </tr>
          </thead>
        <tbody>
        {% for row in feed %}
        <tr>
          {% for item in row %} 
          <td> {{ item }}</td>
          {% endfor %}
          <td><input type="checkbox" id="add-player" />&nbsp;</td>
        </tr> 
        {% endfor %}
    </tbody>
    </table>
  </div>
<div id="totals">
  <table class="sortable" border='1px solid', border-style='double'>
    <thead>
        <tr>
        {% for column in columns2 %}
            <th class="header">{{ column }}</th>
        {% endfor %}
        <th class="header">Add</th>
        </tr>
      </thead>
    <tbody>
    {% for row in feed2 %}
    <tr>
      {% for item in row %} 
      <td> {{ item }}</td>
      {% endfor %}
      <td><input type="checkbox" id="add-player" />&nbsp;</td>
    </tr> 
    {% endfor %}
</tbody>
</table>
  </div>



{% endblock %}