<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1 align='center'>Test</h1>
    
</head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <form>
    <label class="switch">
          <input type="checkbox" id="toggle" checked="false"/>
          <div class="slider round"></div>
      </label>
  </form>
  
  <div id="stats1">
    stats 1 content
  </div>
  <div id="stats2">
    stats 2 content
  </div>

  <script
  type="text/javascript"
  src="{{ url_for('static', filename='index.js') }}"
></script>
</html>